@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";
$column-margin-top: 10%;
$background: black;

#login-form-column {
    margin-top: $column-margin-top;
    max-width: 75%;
}